---
import MainLayout from  "../layouts/MainLayout.astro"
---
<MainLayout>
	<h1 class="text-4xl font-bold my-4">Canvas 📋</h1>
	<p class="my-4">
		This component demonstrate basic operations with transformation matrices.
	</p>
	<p class="my-4">
	    :todo  figure out how to use @vueuse/gesture component installation
	    https://gesture.vueuse.org/installation.html#component-installation
	</p>
</MainLayout>