---
import MainLayout from  "../layouts/MainLayout.astro"
---
<MainLayout>
    <h1 class="text-4xl font-bold my-4">Mykhaylo's live coding sessions</h1>
    <p>
        Learn by doing: Our live coding sessions are hands-on, so you can learn by building and experimenting with JavaScript code in real-time.
    </p>

    <nav>
        Session 1: <a class="text-indigo-600 underline" href="/json-view">JSON</a> code highlight <br>
        Session 2: <a class="text-indigo-600 underline" href="/json-highlight">Highlight</a> text as json <br>
        Session 3: <a class="text-indigo-600 underline" href="/calculator">Calculator</a> for nerds <br>
        Session 4: <a class="text-indigo-600 underline" href="/calendar">Calendar</a> <br>
        Session 5: Create and deploy simple site using Astro<br>
    </nav>

</MainLayout>